//src/pages/Language/LanguageSelectorPage.scss
@use "../../styles/variables" as *;


.language-page {
  position: relative; // Añade esto
  max-height: 100dvh;
  width: 100%;
  overflow: hidden; // Evita scrolls fantasmas por el canvas
  display: flex;
  flex-direction: column;
}

.language-page__content {
  position: relative; // Clave para que el z-index funcione
  z-index: 2; // Asegura que el contenido esté POR ENCIMA
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // Usamos space-between o space-around para distribuir el contenido 
  // sin que empuje hacia abajo
  justify-content: space-evenly; 
  
  padding: 0.5rem; // Un poco menos de padding para pantallas pequeñas
  text-align: center;
}


.confetti-canvas-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; // Un nivel por debajo del contenido pero visible
  pointer-events: none;
}
/*HEADER */
.language-page__header {
  padding: 2rem 1.5rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  //gap: 0.5rem;

  flex-wrap: wrap;
}
/*TITULO */
.language-page__title {
  font-family: $font-heading;
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-primary;
}

/* SUBTITULO */
.language-page__subtitle {
  font-family: $font-heading;
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-secondary;
}
.language-page__icon {
  color: $color-primary;
  text-align: center;
}
/* IMAGEN */

.language-page__image {
  margin-top: 1rem;
  max-height: 30vh;
  object-fit: contain;
}

/* SELECTOR */
.language-page__selector {
  display: flex;
  flex-direction: column;
  margin:auto;
  gap: 0.5rem;
  margin-top: 4rem;

  .language-page__hint {
    font-size: 0.9rem;
    color: $color-muted;
  }
}
/* BOTONES */

.language-page__buttons {
 // width: 100%;
  max-width: 340px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* BASE BOTON */

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 1.25rem 2rem;

  font-size: 1.25rem;
  font-weight: 700;

  border-radius: 1rem;

  cursor: pointer;

  transition: all 0.2s ease;

  &:active {
    transform: scale(0.95);
  }
}

/* ICONO */

.lang-btn__icon {
  transition: transform 0.2s ease;
}

/* HOVER ANIMATION */

.lang-btn:hover .lang-btn__icon {
  transform: translateX(4px);
}

/* BOTON PRIMARIO */

.lang-btn--primary {
  background: $color-primary;
  color: white;
  border: none;

  box-shadow: 0 10px 20px rgba(122, 201, 67, 0.25);

  &:hover {
    opacity: 0.9;
  }
}

/* BOTON SECUNDARIO */

.lang-btn--secondary {
  background: white;
  color: $color-primary;

  border: 2px solid $color-primary;

  box-shadow: $shadow-md;
}
.lang-btn--active {
  position: relative;
}

.lang-btn--active::after {
  content: "✓";
  position: absolute;
  right: 14.8rem;
  font-weight: 700;
}