//src/components/layout/PublicLayout.jsx

@use "../../styles/variables" as *;


.page-layout {
  height: 100svh; 
  display: flex;
  flex-direction: column;



  &__content {
    flex: 1; // Esto absorbe todo el espacio central
    display: flex;
    flex-direction: column;
  }
  &__footer {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;

  }

}